[data-theme=dark] {
    --pico-header-background: rgba(19, 22.5, 30.5, .85);
    --pico-header-border-color: rgba(32, 38, 50, .9);
    --pico-logo-wordmark: #fff;
    --pico-logo-small-sparkles: #ff9500;
    --pico-logo-big-sparkle: #ffbf00;
    --pico-current-version-checkmark: #62af9a;
    --pico-card-component-outline-width: 2px;
    --pico-card-component-outline-color: var(--pico-card-background-color);
    --pico-code-color: #969eaf;
    --pico-code-tag: rgb(186.75, 150.5, 43.75);
    --pico-code-attr: rgb(199, 131.5, 183);
    --pico-code-value: rgb(112.5, 163.5, 161.25);
    --pico-code-comment: #6f7887;
    --pico-code-copied: #62af9a;
    --pico-chapter-color: var(--pico-code-tag);
    --pico-mark-gradient: linear-gradient(to right, rgb(215.4, 140.8, 210.2), rgb(184.5, 153, 237.75), rgb(156.6, 165.3, 232.6), rgb(142.75, 168.95, 240.05));
}

.logo li {
    padding-block: 0;
}
.logo li a {
    font-size: 1.75rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding-block: 0;
}

.is-fixed {
    border-bottom-color: var(--pico-header-border-color);
    box-shadow: var(--pico-card-box-shadow)
}

pre>code, pre>samp {
    line-height: 1.25;
}

body>header.is-fixed {
    border-bottom-color: var(--pico-header-border-color);
    box-shadow: var(--pico-card-box-shadow)
}

body>header {
    z-index:2;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
    transition: border-top-color .4s ease-in-out,box-shadow .4s ease-in-out
    padding: .5rem 0;
}

body>footer {
    font-size: 14px;
    padding-block: calc(var(--pico-spacing) * 4);
}
body>footer h3 {
    font-size: 14px;
}
body>footer .container section:last-of-type {
    margin-block:calc(var(--pico-spacing) * 2);padding-top: calc(var(--pico-spacing) * 2);
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
    font-size: 12px
}
body>footer .container section:last-of-type p {
    margin-bottom: 0;
    color: var(--pico-muted-color);
}

/* Permalink */
:is(h1,h2,h3,h4,h5,h6) {
    position: relative;
}
:is(h1,h2,h3,h4,h5,h6)>a[class="heading-permalink"] {
    position:absolute;
    left: 0;
    padding-right: calc(var(--pico-spacing) * .5);
    transform: translate(-100%);
    display: none;
}
:is(h1,h2,h3,h4,h5,h6):hover>a[class="heading-permalink"] {
    display: inline;
}
.heading-permalink {
    color: var(--pico-secondary);
    text-decoration: none;
}

body>main .hero {
    max-width: 700px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: var(--pico-homepage-spacing-horizontal);
    column-gap: var(--pico-homepage-spacing-horizontal);
    row-gap: calc(var(--pico-homepage-spacing-vertical)/ 2);
    justify-items: center;
    margin-top: calc(var(--pico-homepage-spacing-vertical)/ 2);
    margin-bottom: calc(var(--pico-spacing) * 4);
    margin-left: auto;
    margin-right: auto;
}
body>main .hero h1 {
    font-size: 3rem;
}
body>main .hero mark {
    padding: 0;
    background: var(--pico-mark-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

body>main .hero-button {
    margin-top: calc(var(--pico-spacing) * 4);
}
