{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2>{{ exception.message }}</h2>
    <pre>{{ exception.traceAsString }}</pre>
{% endblock %}
