{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<h2>{{ title }}</h2>
	<p>
		<b>{{ exception.message }}</b>
	</p>
	<pre>{{ exception.traceAsString }}</pre>
{% endblock %}
